{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Baseball Scorebook</title>
</head>
<body>
    <header>
        <h1>Baseball Scorebook</h1>
        <nav>
            <ul>
                <li>
                    <a href="teams/">View All Teams</a>
                </li>
            </ul>
        </nav>
    </header>
    <h2 class='interface'>Score:</h2>
        <p>Away</p>
            <input class='scoreboard' type="text" value=0>
        <p>Home</p>
            <input class='scoreboard' type='text' value=0>
    <h3 class='interface'>Outs:</h3>
        <input class='scoreboard' type="text" value=0>
    <h4 class='interface'>Balls:</h4>
        <input class='scoreboard'type="text" value='0'>
    <h4 class='interface'>Strikes:</h4>
        <input class='scoreboard'type="text" value='0'>
    <h3 class='interface'>Baserunners:</h3>
        <form class='baserunners'>
            <input type="checkbox" id="firstbase" name="firstbase" value="First">
            <label for="firstbase"> Runner on first</label><br>
            <input type="checkbox" id="secondbase" name="secondbase" value="Second">
            <label for="secondbase"> Runner on Second</label><br>
            <input type="checkbox" id="thirdbase" name="thirdbase" value="Third">
            <label for="thirdbase"> Runner on third</label><br><br>
     </form>
</body>
</html>