{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>All MLB Teams</title>
</head>
<body>
    <header class='teamheader'>
        <h1 class='title'>All MLB Teams</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </nav>
    </header>   
    <section class='teampage'>
        {% for team in scorebook %}
        <article class='teams'>
            <h1>{{ team.location }} {{ team.name }}</h1>
        </article>
        {% endfor %}
    </section><br><br><br>
    <a href='https://www.mlb.com/schedule' target='_blank'>Not sure who's playing? Click here to see today's matchups!</a>
</body>
</html>