* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Helvetica;
}

.homeheader, .teamheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 3rem;
    background-color: rgb(19, 32, 60);
    color: white;
    box-shadow: 1px 1px 3px 1px #808080;
} 

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 1.5rem;
}

li > a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.interface {
    color: rgb(19, 32, 60);
    padding: 1.5rem;
    margin-left: 20px;
}

.scoreboard {
    width: 50px;
    margin-left: 45px;
}

.baserunners {
    display: inline;
    margin-left: 45px;
}

.teams {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 14px;
    margin-top: 3vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background: linear-gradient(to left,rgb(239, 16, 34), rgb(12, 34, 89));
    border-radius: 20%;
    color: white;
}

.title {
    text-align: center;
    padding-top: 5px;
    height: 3rem;
    background-color: rgb(19, 32, 60);
    color: white;
    box-shadow: 1px 1px 3px 1px #808080;
}

a {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.teampage {
    margin-left: 5px;
    margin-right: 5px;
}

.teamnames {
    width: 200px;
    height: 35px;
    font-size: x-large;
    margin-left: 45%;
    margin-top: 20px;
}

/* .whosplaying {
    margin-left: 45%;
} */


